#main {
    color: silver;
    background-color: black;
    height: 130px;
    
    
    padding: 10px;
    text-align: center;
    font-size: 96px;
    background-color:black;
    animation-name: example;
    animation-duration: 6s;



}
.social {
    float: right;
    height:50px;
    width: 50px;
    padding:5px;
    margin-top: -40px;
}

/* The animation code */
@keyframes example {
    from {background-color:purple;}
    to {background-color:black;}
  }
  
  